* {
    font-size: 10px;
}

.contact-form-container {
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
    border-radius: 2rem;
}

.contact-form-input input,
textarea {
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    outline: none;
    padding: 0.5rem;
}

.submit-button button {
    color: #fff;
    font-size: 1.4rem ;
    line-height: 2rem ;
    font-weight: 500 ;
    background-color: #464d70 ;
    padding: 1rem 2.4rem ;
    border-radius: 1.6rem ;
}

.socials-container {
    width: 90%;
}

.socials-item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
}

.input-contact label {
    color: #757575;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

.socials-item img {
    width: 30px;
}

.contact-title p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
}

.contact-title h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
}

@media (min-width: 1024px) {

    .socials-item {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
    }

    #socials-item-location {
        max-width: 50%;
    }

    #socials-item-second-block {
        width: 95%;
    }

    .input-contact#input-contact-name,
    .input-contact#input-contact-surname {
        width: 45%;
    }

    .input-contact input {
        padding: 1.2rem 0;
        font-size: 1.8rem;
    }

    .submit-button button {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 600;
        padding: 1.8rem 2.7rem;
    }
}